@import "base";

$bgcolor: #EEE;
$link: blue;
$accent: #bf2502;
$nav: #222;
$nav-button: #000;
$gray: #EEE;
$page: #FFF;


//Structure

body {
	background-color: $bgcolor;
}

.main {
	padding: 10px;
}

.article-bdy {
	background-color: $page;
	padding: 10px;
	margin: 50px 0 10px 0;
	height: 300px;
	overflow: hidden;
	@include trans;

	&.hidden {
		height: 0px;
		padding: 0;
	}

	&.open {
		height: auto;
		padding: 10px;
	}
}

.timeline-bdy {
	padding: 10px;
	width: 100%;
	top: 100%;

	@include trans;
	
	&.active {
		top: 40px;
	}
}

//Type

.h1 {
	font-size: 22px;
}

.h2 {
	font-size: 18px;
}

.h4 {
	font-size: 14px;
}

.txt {
	margin: 0 0 20px 0;
}


//Nav

.nav {
	height: 50px;
	padding: 15px;
	background-color: $nav;
}

.title {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	color: #CCC;
}

.nav-btn {
	background-color: $nav-button;
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;


	&.left {
		left: 8px;
		top: 8px;
	}

	&.right {
		right: 8px;
		top: 8px;
	}
}

.story-nav {
	padding: 10px 0;
	position: fixed;
	width: 100%;
	background-color: $bgcolor;
}


//Home screen

.main-tz {
	border-bottom: 1px solid $gray;
	padding: 10px 0;
}


//Timeline

.timeline-update {
	margin: 0 0 8px 0;
	padding: 6px 0;
	border-bottom: 1px solid #CCC;

	.h4 {
		@include inline-block;
		padding-left: 30px;
	}
}

.update-num {
	position: absolute;
	width: 30px;
}
