@import "base";

/*************************

COLOR VARS

*************************/

$bgcolor: #2e2e2e;
$link: blue;
$accent: #ED1846;
$nav: $accent;
$nav-button: #000;
$gray: #EEE;
$page: #FFF;


/*************************

TYPE VARS

*************************/

$comfortaa: 'Comfortaa';
$roboto: 'Roboto';


/*************************

IMPORTS

*************************/

//Import the separate stylesheets
@import "components/nav";
@import "components/timeline";
@import "components/article";
@import "components/home";


/*************************

LAYOUT STRUCTURE

*************************/

body {
	background-color: $bgcolor;
	overflow-x: hidden;
	width: 100%;

	@media(min-width: 600px){
		&.jayz {
			background-image: url(/backstory/img/jayz-bg.jpg);
			background-attachment: fixed;
			background-repeat: no-repeat;
			@include background-size(cover);
		}

		&.philjackson {
			background-image: url(/backstory/img/phil-jackson.jpg);
			background-attachment: fixed;
			background-repeat: no-repeat;
			@include background-size(cover);
		}

		&.syria {
			background-image: url(/backstory/img/syria.jpg);
			background-attachment: fixed;
			background-repeat: no-repeat;
			@include background-size(cover);
		}

		&.sndmakes {
			background-image: url(/backstory/img/sndmakes.jpg);
			background-attachment: fixed;
			background-repeat: no-repeat;
			@include background-size(cover);
		}

		&.malaysia {
			background-image: url(/backstory/img/malaysia-plane.jpg);
			background-attachment: fixed;
			background-repeat: no-repeat;
			@include background-size(cover);
		}

	}
}

.main {
	padding: 10px;
}

.article-bdy {
	background-color: $page;
	padding: 10px;
	height: 300px;
	overflow: hidden;
	@include trans;

	&.hidden {
		height: 0px;
		padding: 0;
	}

	&.open {
		height: auto;
		padding: 10px;
	}
}

.timeline-bdy {
	padding: 10px;
	width: 100%;
	top: 100%;

	@include trans;
	
	&.active {
		top: 40px;
	}
}

.timeline-container {
	@media(min-width: 600px){
		max-width: 400px;
		padding: 0 10px;
		margin: 0 0 0 55%;
		// background-color: rgba(255,255,255,.8);
	}
}

.footer {
	padding: 10px;
	background-color: #FFF;
	font-family: $roboto;
	color: #666;

	a {
		color: $accent;
	}

	.h4 {
		margin-bottom: 20px;
	}
}

.resp-/backstory/img {
	width: 100%;
}

/*************************

TYPOGRAPHY

*************************/

.h1 {
	font-size: 40px;
}

.tile-h1 {
	font-size: 22px;
	font-family: $roboto;

	a {
		text-decoration: none;
		color: #FFF;
		// @include box-shadow(rgba(0,0,0,.9) 0 0 600px);
		@include text-shadow(rgba(0,0,0,.9) 0 0 25px);
	}
}

.story-h1 {
	font-size: 32px;
	font-family: $roboto;

	a {
		text-decoration: none;
		color: #FFF;
		// @include box-shadow(rgba(0,0,0,.9) 0 0 600px);
		@include text-shadow(rgba(0,0,0,.9) 0 0 25px);
	}
}


.h2 {
	font-size: 22px;
}

.h4 {
	font-size: 22px;
	font-family: $roboto;
}

.h5 {
	font-family: $roboto;
	font-size: 12px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.txt {
	margin: 0 0 20px 0;
	font-size: 14px;
}

.small {
	font-size: 10px;

	&.timestamp {
		color: $accent;
	}
}