/*************************

ARTICLE DETAIL

*************************/

.article-overlay {
	padding: 0;
	background-color: #FFF;
	height: 0;
	position: relative;
	width: 90%;
	top: 60px;
	left: 100%;

	@include trans;

	&.active {
		left: 5%;
		height: 1000px;		
		padding: 20px;
	}
}