/*************************

ARTICLE DETAIL

*************************/

.article-overlay {
	padding: 0;
	background-color: #FFF;
	position: relative;
	height: 0;
	width: 110%;
	top: 0px;
	left: 100%;

	@include trans;

	&.active {
		left: -10%;
		padding: 20px;
		height: auto;
	}
}

.article-body-meta {
	margin: 10px 0;

	.byline {
		font-weight: bold;
	}

	.source {
		color: $accent;
	}
}


/*************************

ARTICLE TOOLS

*************************/


.article-thumb {
	width: 90px;
	height: 90px;

	float: right;
	margin: 0 10px 0 10px;
	
	&.full {

	}

	img {
		@include border-radius(100px);
		width: 100%;
		margin: 0 0 5px 0;
	}
}

.article-meta {
	padding: 5px 0;
}

.hotness {
	@include inline-block;
	width: 25px;
	height: 10px;
	background-image: url(/backstory/img/hotness.svg);
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: right top;
}

.star {
	@include inline-block;
	width: 25px;
	height: 10px;
	background-image: url(/backstory/img/star.svg);
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: right top;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*************************

TIMELINE

*************************/

.timeline-list {
	@media(min-width: 600px){
		margin-top: 40px;
	}
}

.timeline-update {
	background-image: url(/backstory/img/timeline-gray.svg);
	background-repeat: repeat-y;
	background-position: 14px center;
	background-size: 4px;
	@include trans;

	background-color: $gray;

	position: relative;
	padding: 0px 0;
	border-bottom: 1px solid rgba(0,0,0,.1);
	overflow: hidden;

	.timeline-text {
		height: 0px;
		@include trans;
	}

	&.open {
		padding: 20px 0;
		background-image: url(/backstory/img/timeline.svg);

		.update-num {
			background-color: $accent;
		}

		.timeline-text {
			height: 100px;
		}
	}

	&.unread {
		background-color: #FFF;
	}

	&.read {
		background-color: $bgcolor;
	}
}

.story-header {
	background-image: url(/backstory/img/timeline-gray.svg);
	background-repeat: repeat-y;
	background-position: 14px center;
	background-size: 4px;
	@include trans;

	background-color: $gray;

	position: relative;
	padding: 40px 0;
	border-bottom: 1px solid rgba(0,0,0,.1);
	overflow: hidden;

	.story-h1 {
		color: #FFF;
	}

	.txt {
		color: #FFF;
	}

	@media(max-width: 600px){
		.story-header-panel {
			@include trans;
			overflow: hidden;
			height: 0;

			&.active {
				height: 150px;
			}
		}
	}

	@media(max-width:599px){
		&.jayz {
			background-image: url(/backstory/img/jayz-bg.jpg);
			background-attachment: fixed;
			background-repeat: no-repeat;
			background-position: center center;
			@include background-size(cover);
		}

		&.sndmakes {
			background-image: url(/backstory/img/sndmakes.jpg);
			background-attachment: fixed;
			background-repeat: no-repeat;
			background-position: center center;
			@include background-size(cover);
		}

		&.malaysia {
			background-image: url(/backstory/img/malaysia-plane.jpg);
			background-attachment: fixed;
			background-repeat: no-repeat;
			background-position: center center;
			@include background-size(cover);
		}

	}

	@media(min-width:600px){
		background: none;
		position: fixed;
		left: 40px;
		width: 30%;
		bottom: 30px;
	}
}

.update-num {
	text-align: center;
	font-size: 10px;
	padding: 4px 0 0 0;
	color: #FFF;
	@include border-radius(30px);
	position: absolute;
	margin-top: 10px;
	margin-left: 5px;
	height: 20px;
	width: 20px;
	background-color: darken($gray, 10%);

	&.star {
		background-image: url(/backstory/img/star.svg);
		background-size: 50%;
		background-repeat: no-repeat;
		background-position: center center;
	}
}

.timeline-bd {
	@include inline-block;
	margin-top: 10px;
	padding-left: 40px;
}



// Styling the little updates alerts

.open {
	.updates-future, .updates-past {
		opacity: 1;
	}
}

.updates-future, .updates-past {
	text-align: center;
	@include trans;
	opacity: 0;
	z-index: 10000;
	position: absolute;
	width: 100%;
	background-color: rgba(0,0,0,.15);
}

.updates-future {
	top: 0px;
}

.updates-past {
	bottom: 0px;
}



.original-event {
	margin: 0 0 20px 0;
	padding: 20px;
}


.related-stories {
	background-color: $bgcolor;
	margin: 0 0 20px 0;
	padding: 10px;
}

.related-mod {
	.main-tz {
		min-height: 180px;
		opacity: 1;
	}
}


