/*************************

HOME SCREEN

*************************/


.home-tiles {
	margin: 0px 0 0 0;

	@media(min-width: 599px) and (max-width: 800px){
		@include media-grid(2, 10px);
	}

	@media(min-width: 801px) {
		@include media-grid(4, 10px);
	}
}

@media (min-width: 600px){
	.home-cover {
		margin: 40px 0 0 0;
		@include pie-clearfix;

		.col-1 {
			float: left;
			width: 49.5%;
		}

		.col-2 {
			float: right;
			width: 50%;
			padding-left: 6px;
		}
	}

	.lead-tz {
		height: 600px;

		.tile-h1 {
			font-size: 60px;
		}
	}

	.off-lead-tz {
		height: 295px;

		.tile-h1 {
			font-size: 32px;
		}
	}
}

.main-tz {
	opacity: .8;
	padding: 10px 0;
	background-color: #FFF;
	margin: 0 0 10px 0;
	padding: 8px;
	min-height: 190px;

	&.jayz{
		background-image: url(/img/jayz-bg.jpg);
		@include background-size(cover);
	}

	&.philjackson{
		background-image: url(/img/philjackson.jpg);
		@include background-size(cover);
	}

	&.syria{
		background-image: url(/img/syria.jpg);
		@include background-size(cover);
	}

	&.gaymarriage{
		background-image: url(/img/gaymarriage.jpg);
		@include background-size(cover);
	}

	&.vick{
		background-image: url(/img/vick.jpg);
		@include background-size(cover);
	}

	&.cash{
		background-image: url(/img/cash.jpg);
		@include background-size(cover);
	}

	&:hover {
		opacity: 1;
	}
}


.tile-meta {
	color: #CCC;
	background-color: rgba(0,0,0,.8);
	margin: -8px 0 20px -8px;
	padding: 5px;
	@include inline-block;
}

