/*************************

NAVIGATION

*************************/

.nav {
	height: 40px;
	padding: 10px;
	background-color: $nav;
	position: fixed;
	z-index: 10000;
	width: 100%;
}

.title {
	font-family: $roboto;
	color: #FFF;
	font-weight: 400;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
}

.logo {
	font-family: $comfortaa;
	font-size: 16px;
}

.nav-btn {
	display: block;
	width: 25px;
	height: 25px;
	position: absolute;
	cursor: pointer;
	@include trans;

	&.left {
		left: 8px;
		top: 8px;
	}

	&.right {
		right: 8px;
		top: 8px;
	}

	&.back {
		background-image: url(/img/back.svg);
		background-size: 70%;
		background-repeat: no-repeat;
		background-position: center center;

		&:hover {
			opacity: .5;
		}
	}

	&.reverse {
		background-image: url(/img/reverse.svg);
		background-size: 70%;
		background-repeat: no-repeat;
		background-position: center center;

		&:hover {
			@include rotate(-360deg);
		}
	}

	&.search {
		background-image: url(/img/search.svg);
		background-size: 70%;
		background-repeat: no-repeat;
		background-position: center center;
	}

	&.menu {
		background-image: url(/img/menu.svg);
		background-size: 70%;
		background-repeat: no-repeat;
		background-position: center center;
	}
}


.menu-drawer {
	@include trans;
	right: 0;
	padding: 20px;
	background-color: rgba(0,0,0,.9);
	position: fixed;
	top: 40px;
	bottom: 0;
	left: -200px;
	width: 200px;
	z-index: 10000;

	overflow-y: scroll;

	&.active {
		left: 0;
	}
}

.nav-search-input {
	background-color: rgba(0,0,0,.9);
	background-image: url(/img/search.svg);
	background-size: 10%;
	background-repeat: no-repeat;
	background-position: right center;
	border: 0;
	width: 90%;
	padding: 10px;

}

.nav-search, .nav-filters {
	margin: 0 0 20px 0;
	border-bottom: 1px solid #333;
}

.nav-filters, .nav-trending {
	li {
		font-family: $roboto;
		color: #CCC;
		font-size: 14px;
		padding: 8px 0;

		&:hover {
			color: #FFF;
		}
	}
}

.nav-filters {
	li {
		&.favorites {
			background-image: url(/img/star.svg);
			background-position: left center;
			background-repeat: no-repeat;
			background-size: 10%;
			padding-left: 20px;
		}

		&.latest {
			background-image: url(/img/lightning.svg);
			background-position: left center;
			background-repeat: no-repeat;
			background-size: 10%;
			padding-left: 20px;
		}

		&.popular {
			background-image: url(/img/popular.svg);
			background-position: left center;
			background-repeat: no-repeat;
			background-size: 10%;
			padding-left: 20px;
		}

		&.trending {
			background-image: url(/img/trending.svg);
			background-position: left center;
			background-repeat: no-repeat;
			background-size: 10%;
			padding-left: 20px;
		}
	}
}